/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-mar-2016, 17.08.46
    Author     : Roberto Mura 65030
*/

#div1
{
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: green;
}

#div2
{
    position: absolute;
    width: 96%;
    height: 220px;
    background-color: red;
    left: 2%;
    top:210px;
}
#div3
{
    position: absolute;
    width: 48%;
    height: 100px;
    background-color: blue;
    left: 2%;
    top:440px;
}
#div4
{
    position: absolute;
    width: 48%;
    height: 100px;
    background-color: gray;
    right: 2%;
    top:440px;
}
#menu
{
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: white;
}
#menu ul
{
    border-bottom:1px solid black;
    padding-bottom:-1px;
}
#menu li
{
    display: inline-block;
    background-color: white;
    border: solid 1px black;   
    width: 110px;
    padding-left:3%;
    padding-right:3%;
    padding-top: 10px;
    margin-bottom:-2px;
}
#menu li.selezionato
{
    display: inline-block;
    background-color: white;
    border-top: solid 1px black;   
    border-left: solid 1px black;   
    border-right: solid 1px black;
    border-bottom: solid 1px white;
    width: 110px;
    padding-left:3%;
    padding-right:3%;
    padding-top: 10px;
    margin-bottom:-2px;
}