/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-mar-2016, 17.01.13
    Author     : Mura Roberto matr. 65030
*/

.page{
    width:100%;
    height:100%;
}
.sidebar1{

    display:inline-block;
    width:50px;
    height:100%;
}
.maincontent{
  
    display: inline-block;
    width:200px;
    height:100%;
}
.header{

    display: block;
    height:200px;
    width:100%;
}
.centrale{
    display:block;
    width:400px;
}
.footer{
    display:block;
}
.sidebar2{
   
    display:inline-block;
    width:50px;
    height:100%;
}
